@model IEnumerable<Kondominium_Entities.ClienteDocsEntity>

<script>
    function OpenModalPopUp(ClienteId, DocumentType) {
        $('.xClienteId').text(ClienteId);
        $('.xDocumentType').text(DocumentType);
        $('#UploadFileModal').modal();
    };
</script>




<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>


                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#UploadFileModal">
                    <i class="fas fa-eraser fa-sm fa-fw mr-2 text-gray-400"></i>    UploadFile
                </a>


            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ClienteId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DocumentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UrlDocument)
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.ClienteId.ToString(), "EditClientesFileUpload", new { ClienteId = item.ClienteId, DocumentType = item.DocumentType })

                                    <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#UploadFileModal" + @item.ClienteId>
                                        <i class="fas fa-eraser fa-sm fa-fw mr-2 text-gray-400"></i>UploadFile
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UrlDocument)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="UploadFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header badge-warning">
                
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @{ 
                    int xClienteId = ViewBag.ClienteId;
                    string xDocumentType = "";

                }

               
                    @Html.Action("_EditClientesFileUpload", "Clientes", new { ClienteId = xClienteId, DocumentType = xDocumentType })
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



