@model Kondominium_Entities.ClientesEntity

@{
    ViewBag.Title = "EditClientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    //jQuery(function ($) {
    //    $("#Documento1").mask("99999999-9");
    //    $("#TelefonoMovil").mask("(999) 9999-9999");
    //    $("#TelefonoFijo").mask("(999) 9999-9999");
    //    $("#Documento2").mask("9999-999999-999-9");
    //    $("#ssn").mask("999-99-9999");
    //});

    function getval(valord) {
        // debugger;
        var sel = valord.value;

        if (sel == "503") {
            $("#TelefonoMovil").mask("(999) 9999-9999");
            $("#TelefonoFijo").mask("(999) 9999-9999");
        }
        else if (sel == "1") {
            $("#TelefonoMovil").mask("+1 (999) 999-9999");
            $("#TelefonoFijo").mask("+1 (999) 999-9999");
        }
        else if (sel == "502") {
            $("#TelefonoMovil").mask("(999) 999-9999");
            $("#TelefonoFijo").mask("(999) 999-9999");
        }
        else if (sel == "52") {
            $("#TelefonoMovil").mask("(99) 999-9999999");
            $("#TelefonoFijo").mask("(99) 999-9999999");
        }
        else {
            $("#TelefonoMovil").mask("999999999999");
            $("#TelefonoFijo").mask("999999999999");
        };

    };

    jQuery(function ($) {
        $("#Documento1").mask("99999999-9");
        $("#Documento2").mask("9999-999999-999-9");
        $("#ssn").mask("999-99-9999");
    });
</script>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Mantenimiento de Condómino</h1>

    <div class="row">

        <div class="col-lg">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edicion</h6>
                </div>

                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Acordion -->
                        <div id="accordion">

                            <!-- General -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        General
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">

                                    <div class="row">
                                    </div>

                                    <div class="row">

                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control  col-md", @readonly = "true" } })
                                                    @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Documento1, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Documento1, new { htmlAttributes = new { @class = "form-control", placeholder = "00000000-0" } })
                                                    @Html.ValidationMessageFor(model => model.Documento1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Documento2, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Documento2, new { htmlAttributes = new { @class = "form-control", placeholder = "0000-000000-000-0" } })
                                                    @Html.ValidationMessageFor(model => model.Documento2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Documento3, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Documento3, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Documento3, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Documento4, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Documento4, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Documento4, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "tucorreo@domio.com" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.Pais, EnumHelper.GetSelectList(typeof(Kondominium_Entities.Pais)), "Seleccione el pais", new { @class = "form-control", name = "pais", id = "pais", onchange = "getval(this);" })
                                                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoMovil, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.TelefonoMovil, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                                    @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoFijo, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                                    @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (Model != null && Model.ClienteId != 0)
                            {
                                <!-- DetalleDocs -->
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                            Documentos
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">

                                            @Html.Action("_ListClienteDocs", "Clientes", new { ClienteId = Model.ClienteId })
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Sistema -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        Sistema
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeCreacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        <input type="text" id="txtFechaCreacion" name="txtFechaCreacion" value="@Model.FechaDeCreacion" class="form-control" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeModificacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        <input type="text" id="txtFechaModificacion" name="txtFechaModificacion" value="@Model.FechaDeModificacion" class="form-control" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CreadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.CreadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.CreadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ModificadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.ModificadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.ModificadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            @{
                                if ((Model != null ? Model.Eliminado : false) != true)
                                {
                                    <div class="container" style="margin-left:unset !important">

                                        <input type="submit" value="Guardar" class="btn btn-primary" />

                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#DeleteModal">
                                            <i class="fas fa-eraser fa-sm fa-fw mr-2 text-gray-400"></i>    Eliminar
                                        </a>
                                    </div>

                                }
                            }

                            <br>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal confirmacion -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header badge-warning">
                <h5 class="modal-title" style="color:#1f1d1de3" id="exampleModalLabel">¿Esta seguro de Eliminar el registro?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione "Eliminar" a continuación si está listo para eliminar el registro actual
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Eliminar", "DeleteClientes", new { Id = (Model == null ? "" : Model.ClienteId.ToString()) }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
@*//End Delete Modal confirmacion*@

<div>
    @Html.ActionLink("Retornar  a la Lista", "ListadoClientes", "Clientes")
</div>

@if (Model != null)
{
    <div class="modal fade" id="UploadFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header badge-warning">

                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        int xClienteId = Model.ClienteId;
                        string xDocumentType = "";

                    }

                    @Html.Action("_EditClientesFileUpload", "Clientes", new { ClienteId = xClienteId, DocumentType = xDocumentType })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

}

<div id="UploadFileMensajes">
</div>