@model IEnumerable<Kondominium_Entities.ClientesEntity>

@{
    ViewBag.Title = "Listado Condómino";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de Condóminos</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>
                @Html.ActionLink("Crear Nuevo", "EditClientes")
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Condomino
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellidos)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documento1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documento2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documento3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.TipoCliente)
                        </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.TelefonoMovil)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TelefonoFijo)
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.FechaDeCreacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaDeModificacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </th>*@

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string eliminadox = "";
                            if (item.Eliminado)
                            {
                                eliminadox = "style=text-decoration:line-through;color:red;";
                            }

                            <tr @eliminadox>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="..\Clientes\EditClientes\@item.ClienteId">
                                        <i class="fa fa-edit mr-2 text-gray-400"></i>Editar
                                    </a>
                                    <a class="btn btn-secondary btn-sm" href="..\Transacciones\BalanceCliente\@item.ClienteId">
                                        <i class="fa fa-th mr-2 text-gray-400"></i>Balance
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @{
                                        var dui = String.Format(item.Documento1, "########-#");

                                    }
                                    @dui
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.TipoCliente)
                            </td>*@
                                <td>
                                    @*@{
                                    var tel = Convert.ToUInt64(String.Format("{0:(###) ####-####}", item.TelefonoMovil.Replace("-", "").Replace("(", "").Replace(" ", "").Replace(")", "").Replace(".","") ));

                                }
                                @tel*@
                                    @Html.DisplayFor(modelItem => item.TelefonoMovil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TelefonoFijo)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDeModificacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreadoPor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModificadoPor)
                            </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <a href="@Url.Action("ExportarClientes", "Clientes")" class="btn btn-info">
                <i class="fa fa-file-excel"></i> Exportar a Excel
            </a>

        </div>
    </div>

</div>