@model IEnumerable<Kondominium_Entities.CuentasPorCobrarPagoEntity>

@{
    ViewBag.Title = "ListPagos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Listado de pagos</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>
                @Html.ActionLink("Crear Nuevo", "EditPagos")
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CuentasPorCobrarPagoId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VaucherNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClientFullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VPropiedad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MetodoPago)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReferenciaPago)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Monto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.CuentasPorCobrarPagoId.ToString(), "EditPagos", new { Id = item.CuentasPorCobrarPagoId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VaucherNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullNameCondomino)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VPropiedad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetodoPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenciaPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Monto)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">
                <button onclick="exportTableToExcel('dataTable')" class="btn btn-info"><i class="fa fa-file-excel" aria-hidden="true"></i> Exportar Excel</button>
            </div>
        </div>
        
    </div>
</div>