@model IEnumerable<Kondominium_Entities.CalendarioEntity>


<table class="table">
    
    @foreach (var item in Model)
    {

        <tr>
            <td>

                @*<div class="col-xxl-3 col-md-6 mb-5">*@
                    <div class="card card-raised bg-info text-white">
                        <div class="card-body px-4">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <div class="me-2">
                                    <div class="display-5 text-white"> <h4> @Html.DisplayFor(modelItem => item.TituloEvento)  </h4></div>
                                    <div class="card-text"> @Html.DisplayFor(modelItem => item.DescripcionEvento) </div>

                                    <div class="card-text"> <i class="fas fa-hotel"> </i> @Html.DisplayFor(modelItem => item.VLugar) </div>
                                    <br/>
                                </div>
                                <div class="icon-circle bg-white-50 text-info"><i class="material-icons"><i class="fas fa-calendar-alt"></i></i></div>
                            </div>

                            
                            <div class="card-text">
                                <div class="d-inline-flex align-items-center">
                                    <i class="fas fa-calendar-day"> </i>
                                    <div class="caption">
                                        &nbsp  @Convert.ToDateTime(item.Fecha).ToString(" dd/MM/yyyy")
                                    </div>
                                </div>
                                &nbsp &nbsp &nbsp
                                <div class="d-inline-flex align-items-center">
                                    <i class="fas fa-clock"></i>
                                    @{
                                        var fInicio = " " + item.HoraInicio.ToString();
                                        var fFin = item.HoraFin.ToString();
                                        <div class="caption fw-500 me-2"> &nbsp @fInicio - @fFin </div>
                                    }
                                </div>
                            </div>


                            <div class="card-text">
                                <div class="d-inline-flex align-items-center">
                                    <i class="fas fa-users"> </i>
                                    <div class="caption">
                                        &nbsp  @Html.DisplayFor(modelItem => item.ClienteNombre)
                                    </div>
                                </div>
                                &nbsp &nbsp &nbsp
                                <div class="d-inline-flex align-items-center">
                                    <i class="fas fa-warehouse"> </i>
                                    <div class="caption">
                                        &nbsp  @Html.DisplayFor(modelItem => item.VPropiedad)
                                    </div>
                                </div>
                            </div>

                     
                            
                        </div>
                    </div>
                @*</div>*@



            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CalendarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LugarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropiedadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TituloEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreadoPor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificadoPor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eliminado)
                </td>*@




        </tr>
    }

</table>
