@model Kondominium_Entities.CalendarioEntity

@{
    ViewBag.Title = "EditCalendario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Mantenimiento de Calendario</h1>

    <div class="row">

        <div class="col-lg">


            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edicion</h6>
                </div>

                @using (Html.BeginForm())
                {
                    @*@using (Ajax.BeginForm("EditCalendario", "Propiedades", new AjaxOptions { HttpMethod = "POST" }))
                        {*@
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Acordion -->
                        <div id="accordion">


                            <!-- General -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        General
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CalendarioId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.CalendarioId, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                                    @Html.ValidationMessageFor(model => model.CalendarioId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TituloEvento, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.TituloEvento, new { htmlAttributes = new { @class = "form-control" } })

                                                    @Html.ValidationMessageFor(model => model.TituloEvento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DescripcionEvento, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.DescripcionEvento, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DescripcionEvento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Fecha, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    
                                                    @{
                                                        var TInicio = Model.HoraInicio.ToString();

                                                        if (Model == null)
                                                        {
                                                            TInicio = "00:00";
                                                        }

                                                     }


                                                    @Html.EditorFor(model => TInicio, "{0:HH:mm}", new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                                    @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">

                                                @{
                                                    var TFin = Model.HoraFin.ToString();

                                                    if (Model == null)
                                                    {
                                                        TInicio = "00:00";
                                                    }
                                                }


                                                @Html.LabelFor(model => model.HoraFin, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => TFin, "{0:HH:mm}", new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                                    @Html.ValidationMessageFor(model => model.HoraFin, "", new { @class = "text-danger", })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LugarId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.LugarId,
                                                                    new Kondominium_BL.LugaresDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                                    { Text = x.Descripcion, Value = x.LugarId.ToString() }),
                                                                    "Seleccione el lugar",
                                                                    new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.LugarId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.ClienteId,
                                                                    new Kondominium_BL.ClientesDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                                    { Text = x.VFullName.ToString(), Value = x.ClienteId.ToString() }),
                                                                    "Seleccione el cliente",
                                                                    new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PropiedadId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.PropiedadId,
                                                                    new Kondominium_BL.PropiedadesDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                                    { Text = x.VPropiedad.ToString(), Value = x.PropiedadId.ToString() }),
                                                                    "Seleccione la propiedad",
                                                                    new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.PropiedadId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Sistema -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        Sistema
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div class="row">


                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeCreacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        <input type="text" id="txtFechaCreacion" name="txtFechaCreacion" value="@Model.FechaDeCreacion" class="form-control" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeModificacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        <input type="text" id="txtFechaModificacion" name="txtFechaModificacion" value="@Model.FechaDeModificacion" class="form-control" readonly="readonly" />


                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CreadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.CreadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.CreadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ModificadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.ModificadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.ModificadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br>




                            @{
                                if ((Model != null ? Model.Eliminado : false) != true)
                                {
                                    <div class="container" style="margin-left:unset !important">

                                        @*@{  TimeSpan xtime;
                                            TimeSpan xtime2;
                                        }
                                        @if (TimeSpan.TryParse(TInicio, out xtime) && TimeSpan.TryParse(TFin, out xtime2))
                                        {*@
                                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                        @*}*@

                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#DeleteModal">
                                            <i class="fas fa-eraser fa-sm fa-fw mr-2 text-gray-400"></i>    Eliminar
                                        </a>

                                    </div>

                                }
                                        }

                            <br>

                        </div>
                    </div>



                }


            </div>



        </div>
    </div>
</div>

<!-- Delete Modal confirmacion -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header badge-warning">
                <h5 class="modal-title" style="color:#1f1d1de3" id="exampleModalLabel">¿Esta seguro de Eliminar el registro?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione "Eliminar" a continuación si está listo para eliminar el registro actual
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Eliminar", "DeleteCalendario", new { Id = (Model == null ? "" : Model.CalendarioId.ToString()) }, new { @class = "btn btn-danger" })


            </div>
        </div>
    </div>
</div>
@*//End Delete Modal confirmacion*@



<div>
    @Html.ActionLink("Retornar  a la Lista", "ListadoCalendario", "Home")
</div>
