@model IEnumerable<Kondominium_Entities.TareasEntity>

@{
    ViewBag.Title = "ListadoTareas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de Tareas</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>
                @Html.ActionLink("Crear Nuevo", "EditTareas")
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TareaId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prioridad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDeEjecucion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsuarioAsignado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDeModificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDeCreacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreadoPor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModificadoPor)
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string eliminadox = "";
                            if (item.Eliminado)
                            {
                                eliminadox = "style=text-decoration:line-through;color:red;";
                            }

                        <tr @eliminadox>
                            <td>
                                @Html.ActionLink(item.TareaId.ToString(), "EditTareas", new { id = item.TareaId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prioridad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDeEjecucion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioAsignado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDeModificacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreadoPor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModificadoPor)
                            </td>
                        </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>

</div>