@model IEnumerable<Kondominium_Entities.CalendarioEntity>

@{
    ViewBag.Title = "ListadoCalendario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de Calendario</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>
                @Html.ActionLink("Crear Nuevo", "EditCalendario")
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CalendarioId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HoraInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HoraFin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LugarId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClienteId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PropiedadId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TituloEvento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DescripcionEvento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDeCreacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDeModificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreadoPor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModificadoPor)
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.CalendarioId.ToString(), "EditCalendario", new { id = item.CalendarioId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @{
                                        var TInicio = item.HoraInicio.ToString();
                                    }

                                    @Html.DisplayFor(modelItem => TInicio)
                                </td>
                                <td>
                                    @{
                                        var TFin = item.HoraInicio.ToString();
                                    }
                                    @Html.DisplayFor(modelItem => TFin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LugarId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropiedadId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TituloEvento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescripcionEvento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaDeModificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreadoPor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModificadoPor)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>