@model Kondominium_Entities.PropiedadesEntity

@{
    ViewBag.Title = "EditPropiedades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Mantenimiento de Propiedades</h1>

    <div class="row">

        <div class="col-lg">

            @using (Html.BeginForm())
            {
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Edicion</h6>
                    </div>



                    <div class="form-horizontal">

                        <!-- Acordion -->
                        <div id="accordion">


                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!-- General -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        General
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PropiedadId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.PropiedadId, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                                    @Html.ValidationMessageFor(model => model.PropiedadId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TipoDePropiedad, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.TipoDePropiedad,
                                                 EnumHelper.GetSelectList(typeof(Kondominium_Entities.TipodePropiedades)),
                                                 "Seleccione la categoria",
                                                 new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(model => model.TipoDePropiedad, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PoligonoId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">

                                                    @Html.DropDownListFor(model => model.PoligonoId,
                                                 new Kondominium_BL.PoligonosDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                 { Text = x.PoligonoId, Value = x.PoligonoId }),
                                                 "Seleccione la categoria",
                                                 new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(model => model.PoligonoId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Casa, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Casa, new { htmlAttributes = new { type = "number", min = "1", max = "99", @class = "form-control", } })

                                                    @Html.ValidationMessageFor(model => model.Casa, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CasaLetra, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">

                                                    @Html.DropDownListFor(model => model.CasaLetra,
                                                 new Kondominium.Controllers.PropiedadesController().ListABC().Select(x => new SelectListItem
                                                 {
                                                     Text = x.ToString()
                                                 ,
                                                     Value = x.ToString()
                                                 }),
                                                 "Seleccione la letra de la casa",
                                               new { @class = "form-control" })


                                                    @Html.ValidationMessageFor(model => model.CasaLetra, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">


                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Senda, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.Senda,
                                                     new Kondominium_BL.SendasDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                     { Text = x.SendaDescripcion, Value = x.SendaId }),
                                                                                                  "Seleccione la Senda",
                                                                                                  new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Senda, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.Calle,
                                                 new Kondominium_BL.CallesDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                 { Text = x.CalleDescripcion, Value = x.CalleId }),
                                                                                              "Seleccione la Calle",
                                                                                              new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Avenida, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.Avenida,
                            new Kondominium_BL.AvenidasDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                            { Text = x.AvenidaDescripcion, Value = x.AvenidaId }),
                                                                         "Seleccione la Avenida",
                                                                         new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Avenida, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Alameda, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.Alameda,
                                                     new Kondominium_BL.AlamedaDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                                     { Text = x.AlamedaDescripcion, Value = x.AlamedaId }),
                                                                                                  "Seleccione la Alameda",
                                                                                                  new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Senda, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ArancelId, htmlAttributes: new { @class = "control-label col-md" })
                                                <div class="col-md-10">

                                                    @Html.DropDownListFor(model => model.ArancelId,
                                               new Kondominium_BL.ArancelesDatos().GetAll().Where(x => x.Eliminado == false).Select(x => new SelectListItem
                                               { Text = x.Descripcion, Value = x.ArancelId.ToString() }),
                                               "Seleccione la categoria",
                                               new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(model => model.ArancelId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col"></div>

                                    </div>

                                </div>
                            </div>



                            <!-- Doc Propiedades -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                        Documentos de la Propiedad
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="card-body">


                                        @Html.Action("_ListPropiedadDocs", "Propiedades", new { PropiedadId = Model.PropiedadId.ToString() })

                                    </div>
                                </div>
                            </div>




                            <!-- Propietarios -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        Propietarios
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div>

                                            @Html.ActionLink("Agregar Propietario", "EditPropiedadCliente", new { PropiedadId = Model.PropiedadId, TipoCliente = "0" }, new { @class = "btn btn-info fa fa-plus-circle " })

                                        </div>
                                        <br>


                                        @Html.Action("_ListadoPropietariosPropiedad", "Propiedades", new { Id = Model.PropiedadId.ToString() })

                                    </div>
                                </div>
                            </div>
                            <!-- Inquilinos -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        Inquilinos
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div>

                                            @Html.ActionLink("Agregar Inquilino", "EditPropiedadCliente", new { PropiedadId = Model.PropiedadId, TipoCliente = "1" }, new { @class = "btn btn-info fa fa-plus-circle " })

                                        </div>
                                        <br>

                                        @Html.Action("_ListadoInquilinosPropiedad", "Propiedades", new { Id = Model.PropiedadId.ToString() })

                                    </div>
                                </div>
                            </div>
                            <!-- Otros -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        Otros
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div>

                                            @Html.ActionLink("Agregar Otros", "EditPropiedadCliente", new { PropiedadId = Model.PropiedadId, TipoCliente = "2" }, new { @class = "btn btn-info fa fa-plus-circle " })

                                        </div>
                                        <br>

                                        @Html.Action("_ListadoOtrosPropiedad", "Propiedades", new { Id = Model.PropiedadId })

                                    </div>
                                </div>
                            </div>


                            <!-- Sistema -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        Sistema
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeCreacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.FechaDeCreacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.FechaDeCreacion, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FechaDeModificacion, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.FechaDeModificacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.FechaDeModificacion, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CreadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.CreadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.CreadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ModificadoPor, htmlAttributes: new { @class = "control-label col-md" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.ModificadoPor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.ModificadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br>

                            <!-- Confirmacion de Eliminar -->
                            @{
                                if ((Model != null ? Model.Eliminado : false) != true)
                                {
                                    <div class="container" style="margin-left:unset !important">

                                        <input type="submit" value="Guardar" class="btn btn-primary" />


                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#DeleteModal">
                                            <i class="fas fa-eraser fa-sm fa-fw mr-2 text-gray-400"></i>    Eliminar
                                        </a>

                                    </div>

                                }
                            }

                            <br>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<!-- Delete Modal confirmacion -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header badge-warning">
                <h5 class="modal-title" style="color:#1f1d1de3" id="exampleModalLabel">¿Esta seguro de Eliminar el registro?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione "Eliminar" a continuación si está listo para eliminar el registro actual
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Eliminar", "DeletePropiedades", new { Id = (Model.PropiedadId == null ? "0" : Model.PropiedadId.ToString()) }, new { @class = "btn btn-danger" })


            </div>
        </div>
    </div>
</div>
@*//End Delete Modal confirmacion*@



<div>
    @Html.ActionLink("Retornar  a la Lista", "ListadoPropiedades", "Propiedades")
</div>






@if (Model.PropiedadId != null)
{
    <div class="modal fade" id="UploadFileModalPropiedad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header badge-warning">

                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        int xPropiedadId = Model.PropiedadId;
                        string xDocumentType = "";

                    }


                    @Html.Action("_EditPropiedadesFileUpload", "Propiedades", new { PropiedadId = xPropiedadId, DocumentType = xDocumentType })

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

}



