@model IEnumerable<Kondominium_Entities.PropiedadesEntity>

@{
    ViewBag.Title = "ListadoPropiedades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de Propiedades</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-plus-circle"></i>
                @Html.ActionLink("Crear Nuevo", "EditPropiedades")
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @*<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">*@
                <table class="table table-striped table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Propiedad
                            </th>
                            <th>
                                ...
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoDePropiedadDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PoligonoId)
                            </th>
                            <th>
                                Casa
                            </th>
                            <th>
                                Letra
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SendaDescripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CalleDescripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvenidaDescripcion)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.AlamedaDescripcion)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ArancelDescripcion)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.FechaDeCreacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDeModificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreadoPor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModificadoPor)
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string eliminadox = "";
                            if (item.Eliminado)
                            {
                                eliminadox = "style=text-decoration:line-through;color:red;";
                            }

                            <tr @eliminadox>
                                <td>
                                    @Html.ActionLink(item.VPropiedad.ToString(), "EditPropiedades", new { id = item.PropiedadId })

                                <td>
                                    @*@Html.ActionLink(string.Concat(" Balance"), "BalancePropiedad", "Transacciones", new { id = item.PropiedadId }, new { @class = "fa fa-bar-chart btn btn-secondary btn-sm" })*@

                                    <a class="btn btn-secondary btn-sm" href="..\Transacciones\BalancePropiedad\@item.PropiedadId">
                                        <i class="fa fa-th mr-2 text-gray-400"></i>Balance
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDePropiedadDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PoligonoId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Casa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CasaLetra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SendaDescripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CalleDescripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AvenidaDescripcion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.AlamedaDescripcion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ArancelDescripcion)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaDeModificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreadoPor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModificadoPor)
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div >
                <button onclick="exportTableToExcel('dataTable')" class="btn btn-info"><i class="fa fa-file-excel" aria-hidden="true"></i> Exportar Excel</button>
            </div>

        </div>
    </div>

</div>
